$P_left: 6%;
$borderBlack: solid 1px black;
$BackG_White: white;
.container {
  width: 250px;
  height: 500px;
  align-items: center;
}
.align {
  display: flex;
  justify-content: center;
}
.align2 {
  display: flex;
  justify-content: center;
}

.txt {
  font-weight: bolder;
}
.ContainerItems {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  padding-right: 25%;
  justify-content: center;
  padding-left: 10%;
}

.btnCompra {
  width: 200px;
  background-color: black;
  color: white;
  font-size: 24px;
  height: 50px;
}
.baul {
  display: flex;
}
.filtros {
  height: 700px;
  width: 500px;
  padding-left: 20%;
  font-size: 25px;
}

.txtFiltros {
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: $P_left;
}

.container_list {
  padding-bottom: 20px;
}

.checkbox {
  font-size: 14px;
  padding-left: $P_left;
}

div ul {
  font-size: 12px;
  color: gray;
  margin-left: -10;
}
div ul:hover {
  text-decoration: underline;
}

div ul li {
  display: none;
  position: absolute;
  margin-left: -10;
}

div ul:hover li {
  display: block;
  position: relative;
  padding-bottom: 5px;
}

.txtTitulo {
  padding-left: $P_left;
}
.tamanhos {
  border: solid 1px lightgrey;
  width: 35px;
  height: 35px;
  background-color: $BackG_White;
  color: gray;
  display: block;
  margin: 4px;
}
.containerTamanhos1 {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 120px;
  padding-left: 4%;
  margin-bottom: 20px;
}

.tamanhos:focus {
  border: lightskyblue solid 2px;
}

.App-logo {
  width: 150px;
  height: 40px;
  margin: 2% 5% 0 15%;
  padding-bottom: 20px;
  display: inline;
}

.App-header {
  border-bottom: solid 1px black;
}

.Bag-logo {
  width: 50px;
  height: 40px;
  margin: 2% 0 0 0;
  padding: 0 0px 20px 55%;
  display: inline;
  position: relative;
  z-index: -1;
}

.txtBlack {
  color: black;
}

.bagContainer {
  position: relative;
  display: inline;
}
.bagTxt {
  display: inline;
  position: absolute;
  left: 98%;
  z-index: 1;
  bottom: 25%;
  background-color: rgb(42, 197, 248);
  border: solid 2px rgb(42, 197, 248);
  border-top-left-radius: 200px 200px;
  border-bottom-left-radius: 200px 200px;
  border-top-right-radius: 200px 200px;
  border-bottom-right-radius: 200px 200px;
  width: 10px;
  height: 10px;
  color: white;
  font-size: 14px;
  align-content: center;
  padding-left: 0.2%;
  padding-bottom: 1%;
}

.imagenItem {
  width: 100px;
}
.Ordenar {
  font-size: 16px;
  color: black;
  margin-left: 80px;
  border: $borderBlack;
  width: 180px;
  padding-left: 10;
  display: inline;
  z-index: 1;
  cursor: pointer;
  background-color: $BackG_White;
}

.OrdenType {
  position: relative;
  cursor: pointer;
  background-color: $BackG_White;
  left: 80px;
  border-right: $borderBlack;
  border-left: $borderBlack;
  border-bottom: none;
  border-top: none;
  width: 180px;
}
.OrdenType2 {
  position: relative;

  cursor: pointer;
  background-color: $BackG_White;
  left: 80px;
  border-right: $borderBlack;
  border-left: $borderBlack;
  border-top: none;
  border-bottom: none;
  width: 180px;
  margin: 0;
}
.OrdenType3 {
  position: relative;
  cursor: pointer;
  background-color: $BackG_White;
  left: 80px;
  border-right: $borderBlack;
  border-left: $borderBlack;
  border-bottom: $borderBlack;
  border-top: none;
  width: 180px;
}

.Ordenar:focus .OrdenType {
  display: block;
  position: relative;
  padding-bottom: 5px;
  left: 300px;
  border-right: $borderBlack;
  border-left: $borderBlack;
  cursor: pointer;
  width: 150px;
  background-color: $BackG_White;
}

.Ordenar:focus .OrdenType2 {
  display: block;
  position: relative;
  padding-bottom: 5px;
  left: 300px;
  border-right: $borderBlack;
  border-left: $borderBlack;
  width: 150px;
  cursor: pointer;
  background-color: $BackG_White;
}
.Ordenar:focus .OrdenType3 {
  display: block;
  position: relative;
  padding-bottom: 5px;
  left: 300px;
  border-right: $borderBlack;
  border-left: $borderBlack;
  border-bottom: $borderBlack;
  width: 150px;
  cursor: pointer;
  background-color: $BackG_White;
}
.ContainerClear {
  width: 100%;
  padding-left: 100px;
}
.ContainerOrdenar {
  padding-top: 20px;
  width: 180px;
  display: inline;
}
.OrdenType:focus {
  background-color: rgb(79, 193, 231);
}
.OrdenType2:focus {
  background-color: rgb(79, 193, 231);
}
.OrdenType3:focus {
  background-color: rgb(79, 193, 231);
}

.Clear {
  background-color: $BackG_White;
  display: flex;
  margin-left: 120px;
  border: $borderBlack;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
}

.Clear:focus {
  background-color: rgb(79, 193, 231);
}
.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height: 50px;
}

.ContainerCarrito {
  padding-top: 20px;
  width: 100%;
  display: inline;
}

.FiltrarMovil {
  display: none;
}
.txtMovil {
  display: flex;
  justify-content: left;
  font-size: 25px;
  padding-left: 25%;
}
.Carregar {
  display: flex;
  background-color: rgb(6, 179, 236);
  color: white;
  width: 200px;
  justify-content: center;
  height: 50px;
  font-size: 20px;
  margin-bottom: 100px;
  margin-top: 20px;
  padding-top: 1%;
  border: none;
  position: relative;
}

.ClearCarrito {
  background-color: $BackG_White;
  border: $borderBlack;
  height: 40px;
  width: 120px;
  display: flex;
  margin: auto;
  font-size: 18px;
  padding-top: 6px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.ClearCarrito:hover {
  background-color: red;
  border: $borderBlack;
  height: 40px;
  width: 120px;
  color: white;
}
.txtCarrito {
  display: flex;
  justify-content: center;
}
.OrdenarMovil {
  display: none;
}
.MenuMovil {
  display: none;
}
.txtH1 {
  font-size: 22px;
  padding-left: 21px;
}
.inputCarregar {
  margin: 10px;
  border-radius: 7px;
  background-color: lightblue;
}
/*MEDIA*/
@media (max-width: 1200px) {
  .MenuMovil {
    display: block;
  }
  .txtH1 {
    font-size: 22px;
    padding-left: 21px;
    display: none;
  }
  .baul {
    display: block;
  }
  .ContainerItems {
    padding: 0;
    justify-content: space-around;
    font-size: 13px;
    position: absolute;
  }
  .footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 150%;
    position: relative;
    font-size: 14px;
  }

  .Carregar {
    display: flex;
    background-color: rgb(6, 179, 236);
    color: white;
    width: 150px;
    justify-content: center;
    height: 40px;
    font-size: 17px;
    margin-bottom: 100px;
    border: none;
  }
  .ContainerClear {
    display: inline-block;
    padding-left: 0;
  }

  .container {
    width: 150px;
  }

  .btnCompra {
    width: 130px;
    background-color: black;
    color: white;
    font-size: 16px;
    height: 50px;
  }
  .ContainerFiltros {
    display: none;
  }

  .Ordenar {
    font-size: 12px;
    color: black;
    margin-left: 0%;
    border: $borderBlack;
    width: 130px;
    height: 50px;
    z-index: 1;
    cursor: pointer;
    background-color: $BackG_White;
    margin-left: 48.3%;
  }
  .OrdenType {
    width: 130px;
    margin-left: 23.5%;
  }
  .OrdenType2 {
    width: 130px;
    margin-left: 23.5%;
  }
  .OrdenType3 {
    width: 130px;
    margin-left: 23.5%;
  }
  .txtTitulo {
    padding-right: 15px;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
  .FiltrarMovil {
    background-color: $BackG_White;
    border: $borderBlack;
    width: 130px;
    height: 50px;
    float: left;
    z-index: 2;
    display: inline;
    margin-left: 10%;
  }
  .OrdenarMovil {
    background-color: $BackG_White;
    border: $borderBlack;
    width: 130px;
    height: 50px;
    float: left;
    z-index: 2;
    margin-left: 8%;
    display: block;
  }
  .txtMovil {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-left: 0%;
  }

  .Bag-logo {
    width: 40px;
    height: 30px;
    z-index: -1;
    margin-top: 20px;
  }
  .App-logo {
    width: 120px;
    height: 30px;
    margin-top: 20px;
    margin-right: 100px;
  }

  .App-header {
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .bagTxt {
    display: inline;
    position: absolute;
    left: 80%;
    z-index: 1;
    bottom: 50%;
    background-color: rgb(42, 197, 248);
    border: solid 2px rgb(42, 197, 248);
    border-top-left-radius: 200px 200px;
    border-bottom-left-radius: 200px 200px;
    border-top-right-radius: 200px 200px;
    border-bottom-right-radius: 200px 200px;
    width: 10px;
    height: 10px;
    color: white;
    font-size: 13px;
    align-content: center;
    padding-left: 1%;
    padding-bottom: 2%;
  }
}
.filtros {
  display: inline-block;
  height: 100%;
  max-width: 1300px;
  width: 100%;
  padding-left: 20%;
  font-size: 25px;
  z-index: 1;
}
.txtTitulo {
  display: none;
}
.inputCarregar {
  margin: 10px;
  border-radius: 7px;
  background-color: lightblue;
}

@media (max-width: 900px) {
  .footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 200%;
    position: relative;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 700%;
    position: relative;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 950%;
    position: relative;
    font-size: 14px;
  }
}
